# https://editorconfig.org/

root = true

## Global defaults, preferences and fallbacks

[*]

trim_trailing_whitespace = true

# Standards
#
encoding = utf-8
end_of_line = lf
insert_final_newline = true

# Personal preferences and fallbacks
#
indent_size = 8
# indent_style = space
indent_style = tab
tab_size = 8

## Language quirk compliance

[Makefile]
indent_style = tab

[*.go]
encoding = utf-8

## Convention and style guide compliance

[*.{clj}]
indent_size = 2
indent_style = space

[*.{py,rs}]
indent_size = 4
indent_style = tab

[*.go]
indent_style = tab

## Convention and style guide non compliance

[*.{js,json,yaml,yml}]
indent_size = 4
indent_style = tab
